<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Contestant Statistics</title>

    <!-- build:css_ext -->
    <!-- endbuild -->

    <link rel="stylesheet" href="/Contestant-Statistics-Management-System/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/Contestant-Statistics-Management-System/js_ext/jquery.min.js"></script>
    <script src="/Contestant-Statistics-Management-System/js_ext/bootstrap.min.js"></script>
  </head>
   <nav class="navbar navbar-default">   
     <div class="navbar-header">       
       <h3 style="padding-left: 20px;">
        <a href="/Contestant-Statistics-Management-System/">Contestant Statistics</a>
       </h3>
     </div>

     <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right"  id="userLoginBar">
          <!-- load -->
        </ul>
      </div>      
   </nav>


  <body style="background-color: #EFF3F8;">   

     <div class="container" style="margin-top: 50px;background-color: #EFF3F8;">
      
       <!-- load template here-->
       <!-- last 10 submissions-->
       <div class="row">
         <div class="panel panel-default">
           <div class="panel-heading">
             <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#following-modal">Add a new user</a>
           <div class="modal fade" id="following-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                    <div class="loginmodal-container">
                      <h1>Add to Following List</h1><br>
                      <form id="addFollowingUser" method="POST">
                      <input type="text" name="username" placeholder="Username" required>
                      <!--
                      <input type="text" name="codeforcesHandle" placeholder="Codeforces username">
                      <input type="text" name="uvaHandle" placeholder="UVa username">
                      -->
                      <input type="submit" name="AddUser" class="login loginmodal-submit">
                      </form>
                    </div>
                  </div>
           </div>
           </div>
           <div class="panel-body">

           <div class="modal fade" id="delete-following-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                    <div class="loginmodal-container">
                      <h1> Delete User</h1><br>
                      <form id="deleteFollowingUser">
                        <input id="deleteFollowingUsername" type="text" name="username" value ="" readonly>
                        <input type="submit" name="editUser" class="login loginmodal-submit" value="Remove">
                      </form>
                    </div>
                  </div>
           </div>

           <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="vertical-align: top;">Username </br> </th>
                  <th>Codeforces </br><span style="font-size: 10px;">(solved | Submission)</span></th>
                  <th>Uva </br><span style="font-size: 10px;">(solved | Submission)</span></th>
                  <th>total </br><span style="font-size: 10px;">(solved | Submission)</span></th>
                  <th style="vertical-align: top;">Option </br> </th>
                </tr>                
              </thead>
              <tbody id="userFollowingListTable">
              </tbody>
           </table>

           </div>
         </div>
     </div>
      
   </div>
<!--
    <footer class="jumbotron footer">
      <p style="text-align: center;">
        <small>Project by Nahid and Bipul</small>
      </p>

   </footer>
-->
   <!-- js script-->
   <script type="text/javascript" src="/Contestant-Statistics-Management-System/js/userlogin_navbar_otherpage.js"></script>
   <script type="text/javascript" src="/Contestant-Statistics-Management-System/js/submit_add_following.js"></script>
   <script type="text/javascript" src="/Contestant-Statistics-Management-System/js/submit_delete_following.js"></script>
   <script type="text/javascript" src="/Contestant-Statistics-Management-System/js/user_following_list.js"></script>
  </body>

</html>
