<!DOCTYPE html>
<html>
<head>
    <title>sign up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background-color: #EFF3F8;">
    
    <div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-4"> </div>
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><a href="#"><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
            <form action="#" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" style="margin-bottom: 10px;" name="firstname" placeholder="First Name" type="text"
                        required autofocus />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" style="margin-bottom: 10px;"name="lastname" placeholder="Last Name" type="text" required />
                </div>
            </div>
            <input class="form-control" style="margin-bottom: 10px;" name="username" placeholder="User Name" type="text" required />
            <input class="form-control" style="margin-bottom: 10px;" name="email" placeholder="Your Email" type="email" required />
            <input class="form-control"  style="margin-bottom: 10px;"name="password" placeholder="New Password" type="password" required />
            <input class="form-control"style="margin-bottom: 10px;" name="reenterpassword" placeholder="Re-enter Password" type="password" required />
            <input class="form-control" style="margin-bottom: 10px;" name="country" placeholder="Country" type="text" required />
            <input class="form-control" style="margin-bottom: 10px;" name="institute" placeholder="Institute" type="text" required/>
            <input class="form-control" style="margin-bottom: 10px;" name="codeforcesusername" placeholder="Codeforces User Name" type="text" />
            <input class="form-control" style="margin-bottom: 10px;" name="uvausername" placeholder="Uva User Name" type="text" />
            <!-- 
            <label for="">
                Birth Date</label>
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <select class="form-control" style="margin-bottom: 10px;">
                        <option value="Month">Month</option>
                    </select>
                </div>
                <div class="col-xs-4 col-md-4">
                    <select class="form-control" style="margin-bottom: 10px;">
                        <option value="Day">Day</option>
                    </select>
                </div>
                <div class="col-xs-4 col-md-4">
                    <select class="form-control" style="margin-bottom: 10px;">
                        <option value="Year">Year</option>
                    </select>
                </div>
            </div>
            <label class="radio-inline">
                <input type="radio" name="sex" id="inlineCheckbox1" value="male" />
                Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="sex" id="inlineCheckbox2" value="female" />
                Female
            </label>
            -->
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>